
header {
  background-color: #a8dde3;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a{
    color: black;
    display: flex;
    justify-content: center;

}

.container {
    max-width: 1000px;
    background: white;
    margin: 70px auto;
    padding: 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }